<div class="card">
  <p-menubar [model]="items">
      <ng-template #start>
        <figure class="my-0 m-2">
          <img class="w-2rem" src="/logo.svg" alt="logo">
        </figure>
      </ng-template>
      <ng-template #item let-item let-root="root">
        <a pRipple class="flex items-center p-menubar-item-link" [routerLink]="item.routerLink">
            <i *ngIf="item.icon" [ngClass]="item.icon" class="mr-2"></i>
            <span>{{ item.label }}</span>
            <p-badge *ngIf="item.badge" [ngClass]="{ 'ml-auto': !root, 'ml-2': root }" [value]="item.badge" />
            <span *ngIf="item.shortcut" class="ml-auto border border-surface rounded bg-emphasis text-muted-color text-xs p-1">
                {{ item.shortcut }}
            </span>
            <i *ngIf="item.items" [ngClass]="['ml-auto pi', root ? 'pi-angle-down' : 'pi-angle-right']"></i>
        </a>
    </ng-template>
    <ng-template #end>
      <div class="card flex justify-content-center align-items-center gap-3">
        
        <a [routerLink]="['/cart']">
          <i
            class="pi pi-shopping-cart text-3xl"
            pBadge
            [value]="cartCount"
          ></i>
        </a>
    <a
    (click)="logOut=!logOut"
     class="badge user-name p-3 text-white bg-orange-400 mx-2 font-bold capitalize relative cursor-pointer ">
      <span>{{username}}</span>
@if(logOut){
<a (click)="logout()"
class="logout py-2 px-4 text-white bg-orange-400 mx-2 font-bold absolute left-50  flex items-center gap-3">
  <span>Logout</span>
  <span class="pi pi-sign-out">
  </span>
</a>
}
    </a>
  </div>
  </ng-template>

  </p-menubar>
</div>